<div class="container-fluid text-white">
  <div class="d-flex justify-content-center mb-4">
    <input class="input-search" type="text" [(ngModel)]="searchText" (input)="onSearch()" placeholder="Search">
  </div>
  <div class="d-flex justify-content-center mb-4" *ngIf="nasaImage">
    <span class="badge badge-info badge-pill">
      Found: {{ nasaImage.collection.metadata.total_hits }}
    </span>
  </div>

  <div *ngIf="!isLoading else loading">

  </div>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</div>
