@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Kanit', sans-serif;
  font-size: 1.3em;
  line-height: 1.2em;
  max-width: 560px;
}
