@font-face {
  font-family: 'Kanit';
  src: url('fonts/Kanit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Kanit', sans-serif;
  font-size: 1.3em;
  line-height: 1.2em;
  background-color: #191825;
}

.pointer {
  cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
